{% extends "_post.html" %}

{%hyde
title: Cross Platform Mobile - Growth and Distraction
created: 2011-02-15
%}

{% block article %}

{% article %}
{% excerpt %}

I've been watching [John Allsopp](http://twitter.com/johnallsopp)'s tweets over the last few weeks as he [aggregates information on cross-platform mobile and HTML5](http://blog.theunpluggedweb.com/).  John is doing a great job of finding those pockets of information and technology from around the web that are on starting to get traction in both those spaces from the corners of the web.

{% endexcerpt %}

While many of the articles he is linking to provide me with _"Alright, we are really starting to get there"_ with cross-platform mobile, there are others that I have to look and ask _"Where on earth are we going with all of this?"_.  This is obviously not a reflection on John, he's simply reporting the news. So with the majority of 2011 still before us, I'm going to put out there what I think 2011 is going to represent for cross-platform mobile devs:

## 2011: A Year of Growth and Distraction
	
This year we are going to see a lot of companies try and jump on the Cross-Platform Mobile dev bandwagon which is steadily gaining pace.  That wagon has been bravely pushed by pioneers in the space (companies like [Nitobi](http://nitobi.com/),   [Rhomobile](http://rhomobile.com/) and even [Palm (now HP)](http://developer.palm.com/) come to mind).  These guys were advocating that the "world was round" long before the rest of us realized (or felt brave enough to speak up).  

As a developer and advocate for cross-platform mobile, it's going to be an interesting year.  Searching for the genuine nuggets amidst the noise might be a challenge.

Here's a few rules of thumb that I'll be using this year to help with filtering:

1. __[Cross-platform Mobile Frameworks](/coding/mobile-webapp-native-bridging-frameworks/) that provide you the ability to deploy web apps on native devices are already pretty mature.__  The "old guards" in this space are continuing to evolve (both PhoneGap and Rhodes offer a hosted build service for instance) and really there isn't much you can't do with them.  

2. __[Mobile UI Frameworks](http://www.xpmobi.org/resources/ui-frameworks/) are still  an area of growth.__ Developing a UI set that works and feels right is a much more difficult problem that most would think, but we are seeing great work across the board.  I would expect in the next 6 - 12 months one or two frameworks will start to become dominant, driven by a combination of strong device reach and a polished feel.

3. __Tooling kinda sucks at the moment.__ There is probably a whole blog post in this topic alone, but suffice to say that getting started in cross-platform mobile dev is something that people used to IDEs might struggle with.  Those of us who would rather spend our days in text-editors and the command-line could't feel more at home, but it isn't everyone's cup of tea. 2011 will likely mark the end of the cross-platform approach being a niche field, which means that we will see crys of "We want better tools" from new entrants to the scene.

## An Example of the Growth and Distraction: AppMobi's XDK

One example that I think demonstrates both the growth and distraction is the [AppMobi XDK](http://www.appmobi.com/index.php?q=node/27).  Reading their brief there isn't much in there that I haven't heard or read before.  It sounds very much like the [PhoneGap](http://www.phonegap.com/) approach, but without the experience and established credibility the Nitobi guys have.  But have a look at the angle the AppMobi guys are taking.  They claim their product offers much more mature tooling than current bridging frameworks (not that they mention them) and actually draw comparisons with Dreamweaver and Visual Studio.

The reality is that delivering on this promise is probably going to pretty difficult, but if they have done it then they will likely pick up a reasonably strong user base.  They may even pick up a user base even if they have only partially delivered.  While I haven't yet given the development tools a go (was unable to download given I have Chrome 10 - which I thought was Chrome 6+) I will endeavour to make the time.

## On Cross-Platform Mobile and Commercialization

As much as I would like to see us have a very __strong and clear message on the cross-platform side of the mobile development debate__ (heck the native dev message is cranked up to 11), 2011 may still be a year when new mobile developers suffer some confusion.  

Certainly the [announcement from Facebook regarding HTML5 and mobile](http://blogs.wsj.com/venturecapital/2011/01/25/with-plenty-of-cash-facebook-targets-growing-mobile-market/) will help to convince many people, but it probably also likely fuel a glut of start-ups in the tools and technology space that will claim to offer the _one true cross-platform mobile development solution_ as investors start throwing money in the cross-platform mobile direction.  

While this will create some compelling evidence that the cross-platform approach is a viable alternative, it will also create additional noise and distraction that developers will need to cut through. 

Regardless, it's going to be an interesting year.  [Vive la resistance](https://twitter.com/#!/jamespearce/status/32297396541067266) :)

{%endarticle%}

{% endblock %}