{% extends "_post.html" %}

{%hyde
title: Cross Platform Mobile Web App Developer Training
created: 2011-02-24
%}

{% block article %}

{% article %}
{% excerpt %}

_Feed a man a fish, you feed him for a day.  Teach a man to fish and you feed him for a lifetime._

While teaching someone to build a mobile application using HTML5, CSS3 and Javascript may not feed them for a lifetime it is certainly something I feel quite passionate about.  For this reason I felt extremely happy when after delivering a mobile web app for one of my clients, they were keen to gain an understanding of how they could start taking on some of the work themselves.

{% endexcerpt %}

I'm sure for some people in business writing software for others, this might seem a little strange, but for me it's fantastic. It's not that I don't enjoy making applications - I really do, but making tools and equipping other developers with knowledge to go out there and make cool stuff (or boring stuff if they choose) is what I really get a kick out of.

So rather then go into these guys and completely wing it (admittedly there will definitely be some winging going on), I intend to create a structured (but informal) hands-on training course for building cross platform mobile web apps.

Now the course is very much at the inception stage, and I'm starting with trying to design eight half-day modules that a client can pick and choose based on their requirements.  The idea being that if someone was really keen, we could do a week long course and spend the final day on starting to put the groundwork in place for their own application.

Anyway here is my current thinking around modules:

- Mobile Web App Foundations
- UI Frameworks Deep Dive
- Local Storage & Offline Apps
- Getting Stylish with CSS3
- Native Deployment
- Geolocation and Sensors
- Canvas and Interactivity
- ???

My thoughts are that for most companies that want to start building basic mobilw web apps you would hit Mobile Web App Foundations first up, followed by UI Frameworks Deep Dive and Native Deployment and possibly one other module rounding out a two-day short course.

I'm very interested in getting feedback on the breakup of the modules, and I'm also interested on thoughts regarding integrating some optional Javascript training (how to structure JS-centric apps, etc).  From my own experience I think most established development teams have a focus on server-side technologies and JS coding is definitely a secondary focus.  In the land of mobile web apps, Javascript really needs a lot more thought and attention so this may need to be covered as part of the training.

Also feel free to take a sneak peak at the [current in-progress training one pager](/media/files/sidelab-xpmobi-training-coverpage.pdf).

{%endarticle%}

{% endblock %}