{% extends "_post.html" %}

{%hyde
title: A Punter's Opinion on the Future of Android
created: 2011-05-23
%}

{% block article %}

{% article %}
{% excerpt %}

First, let me say that I love everything that Android as an ideal stands for.  It's wonderful - a hardware agnostic, open (to an extent) device operating system which should in theory should be kicking some serious bottom.  And, in many ways it is. However, I really don't think it will end up being the mobile operating system that many people are picturing.

{% endexcerpt %}

I for one, definitely don't consider it to be an iOS competitor. Despite its technical strengths Android still struggles to deliver an experience that __feels__ as good as iOS devices.  My thoughts on Android
are that it is ultimately a SymbianOS (and quite probably feature-phone) killer and also an integral part of the Internet (or Web) of Things.  I certainly haven't had the time to go through the Google I/O presentations, but from what I have seen it seems like Google are happy to push it in this direction also.

## On Winning

In a [recent tweet](https://twitter.com/#!/damonoehlman/status/72596119028371456), I made the comment that Android "wouldn't win".  So I guess this begs the question - _What is Winning?_  Well, all Charlie Sheen references aside, I believe winning represents being the platform that people ultimately __choose__. __Not settle for, choose__.

In pure marketshare measures, Android probably will be considered the mobile OS winner.  If I had to extrapolate the [StatCounter Global Stats](http://gs.statcounter.com/#mobile_os-ww-monthly-200812-201104), I would put Android at the top of the chart probably sometime toward the end of 2012.  But, like I said, I don't consider this to be a true measure of winning.  Android will end up there simply because it will become the defacto standard mobile O/S in low-end devices. It will ultimately be a baseline and probably largely uninteresting - I for one, can't remember ever marvelling at the capabilities of Symbian in my old Nokia phones.  

Maybe Nokia and Microsoft will give Android some competition at the bottom end, but I don't think so.  Nokia has been seeing continued market share losses at the hands of the "do-everything" appliance manufacturers, and I don't think that is going to change.  

## The Mobile Operating Systems of Choice

What will be the mobile operating systems of choice then?  Well for my money, I think Apple are going to enjoy continued success with consumers who can choose their device.  

In the enterprise space, with their recent improvements in devices and development tooling RIM should be able to keep BlackBerry as the OS of choice there (despite losing some ground to iOS in recent years).  Maybe Microsoft will have some luck with WinPhone7 there too, who knows.

Additionally, as with [my previous wrap up of the Unplugged conference](/mobile/webdirections-unplugged-takeaways/) I would once again highlight WebOS in the consumer space also. Personally, I love an underdog, and I believe WebOS still has massive potential. I just wish they'd hurry up and start shipping units to Australia :/

## Developing for the Future

Considering all of the above, as developers what platforms should we be developing for?  Well, given that mobile really is just the tip of the iceberg when it comes to connected devices, I personally think __you are mad if you don't develop the core of your application using web technologies__ (HTML5, CSS, Javascript and the like).  Do what you have to do to get the app in the relevant marketplaces for your application (wrap it in PhoneGap, add some custom native code to make your app sing, etc), but try to write as __much as you can, as well as you can__ with web technologies.

Sure, if you want to try and make a quick buck today, then go ahead and write your app using native technologies targetted at a specific, popular platform.  If, however, you are one of the many companies trying to determine how on earth you are going to provide mobile services to your many customers across all of these different devices (including the ones we don't even know about yet), then take another look at the mobile web.  Then think of ways you can have your cake and eat it too.  

I believe it can be done.

{%endarticle%}

{% endblock %}