<div class="sidebar">
	{% block sidebar %}

	<h3>About Me</h3>
	<p>
	My name is <a href="http://twitter.com/DamonOehlman">Damon Oehlman</a> and I run a web app code shop called <a href="http://www.sidelab.com/">Sidelab</a>.
	</p>
	<p>
	Right now I get a buzz from coding HTML5 mobile web applications and frameworks, and helping others 
	get up to speed with interesting and useful tech.
	</p>
	<p>Married to the slightly zany, Cath Oehlman (aka <a href="http://squigglemum.com/">SquiggleMum</a>), we have
	two awesome, zany, distractable children.</p>
	<p>
	<a href="http://www.twitter.com/DamonOehlman"><img src="http://twitter-badges.s3.amazonaws.com/follow_me-c.png" alt="Follow DamonOehlman on Twitter"/></a>
	</p>
	
	<h3>Random Stuff I've done</h3>
	<ul>
		<li>
			Coded a <a href="http://www.tile5.org/">HTML5 Mapping Library</a> and some useful 
			<a href="http://sidelab.github.com/interact/">Javascript Touch Event Helpers</a>.
		</li>
		<li>
			Written a book on <a href="http://www.apress.com/9781430232766">developing mobile web apps
			for Android</a>.
		</li>
		<li>
			Almost mastered microwave popcorn on a budget.
		</li>
	</ul>
	
	{% endblock %}
</div>