{% extends "_post.html" %}

{%hyde
title: Creativity and Depression
created: 2010-02-28
%}

{% block article %}

{% article %}
{% excerpt %}

Very recently, the New York Times ran an article on the correlation between depression and certain mental disciplines.  It's definitely a thought provoking read, and the title "Depression's Upside" is bound to spark some controversy.  If you experience depression or know someone that experiences depression then it's well worth the 7 page read, as it's probably one of the most well crafted pieces of text I have ever read on the topic:  

<a href="http://www.nytimes.com/2010/02/28/magazine/28depression-t.html" target="_blank">Depression's Upside @ NYTimes.com</a>

{% endexcerpt %}

## My Thoughts

Well for my own experience, I think the article is a very accurate depiction of my own mental state (certainly at the moment).  The illustration of depression coming about in response to certain external stimuli in the same way that the body's immune system responds to infection is especially powerful.   Kudos for the article also goes for stating that it is still too early to "judge the analytic-rumination hypothesis", as there are obviously a great number of theories about depression and this will obviously become another one of the bunch.  Like I said though, I do identify with the majority of what is said.

On the flipside, while I am encouraged by the thoughts put forward in the article, I am also very mindful that the analytic-rumination hypothesis offers little comfort to the loved ones who live with us who exhibit this behaviour.  If this is the way I was created, then I believe a few things are critical in my response to my behaviour:

1.  To work with my family to be able to inject the appropriate space in life to effectively ruminate and analyse, thereby compressing the amount of "down-time" required to process the stimuli that has triggered the state.  

2.  To develop the wisdom to know when there are factors outside of my control in a situation, and develop the ability to effectively "file the case" until additional evidence is acquired, ready for processing.

3.  Work on my ultimate goal of being able to take a holiday from "Analytic-Rumination Damon".  While my belief is the condition is something very core to my being, I will strive towards creating periods of time (ideally weeks) where I process information differently.  It's definitely something that I have the ability to do, but does require getting some of the big decisions sorted and then a choice to just "go with it" and see it right.  

By collaboratively working on each of the points above, hopefully the depressive condition can be made more manageable for both myself and my family.  As always would be interested in hearing others opinions on the article or my response.

{%endarticle%}

{% endblock %}