{% extends "_post.html" %}

{%hyde
title: Doodling, Memory and Capturing that Flash of Inspiration
created: 2010-04-08
%}

{% block article %}

{% article %}
{% excerpt %}

Today was a very active day for my brain.  While I didn't solve world hunger I do think I had some pretty nifty ideas.  One of the ideas that I had, for the life of me I can't remember now, but what I do remember is a feeling of excitement and thinking it warranted further investigation.  Gone now, no further investigation possible - I guess you get that.  The idea must not have been very good if I can't remember it now - that's what _they_ say anyway.

I decided today I don't agree with _them_. I want a way that I can effectively capture ideas that come in that flash and are gone when more pressing issues arise...

{% endexcerpt %}


I remember some talk early last year around how <a href="http://news.bbc.co.uk/2/hi/health/7912671.stm">doodling can help memory recall</a>, and I know the study was focused on quite a different concept than what I'm about to propose.  But it was certainly the initiator for my thinking here, so figure it deserves some credit (or blame if what I'm suggesting is silly).

Based on only having a limited amount of time to capture an idea, quickly doodling a simple picture and labelling it seems like something that could perhaps create a "key" to enable unlocking and exploring that idea in more detail at a later, more convenient time.   Could this technique have saved my now lost idea?  I'm not sure, but I'm willing to give it a go - my gut feel is that it should.  I think the physical act of drawing should provide some body to the quite elusive nature of a "flash of inspiration" - but I'm very interested in people who are more widely read / educated in human psychology offering some opinion in the comments below.

Making the assumption that the core concept is sound, I like the ease of application of the technique.  If you are a person who prefers a notepad and pen, then you can apply the technique.  If, like me, you have an iPhone or Android handset in your pocket, a pretty simple app could be created to make the idea capture simple and fluid - which would be a nice experience as entering lots of text can be a complete pain.  I guess you could just as easily use the voice recorder on these devices in a similar mind-jogging way, but maybe it's just me, that seems to lack a certain "da Vinci" like quality that can be associated with the tactile experience of doodling.

As always, very interested in others thoughts on this.  Not precious about the idea, if you think it wouldn't work then please make a comment.  Additionally, if you have seen mobile apps that can be used to support the concept it would be great to get a heads up on those.

{%endarticle%}

{% endblock %}