{% extends "_post.html" %}

{%hyde
title: Printable Web Page Design Template
created: 2009-03-06
%}

{% block article %}

{% article %}
{% excerpt %}

Today's tool is quite simple, but also I believe quite useful.  In many respects this wireframing tool is nothing more than a glorified piece of graph paper (but with a few helpful extras - including an <a href="http://en.wikipedia.org/wiki/Above_the_fold">Above the Fold</a> indicator to help make sure the important stuff on the site hits your visitors straight up).

{% endexcerpt %}

To give you an idea of what the tool is designed to do a screen shot is displayed below.  In essence it is a single A4 sheet of paper that will allow you to scratch out a functional (it won't be pretty) design for a web page.  The idea is to throw ideas around and discuss with site owners before expending effort doing design work that they just wouldn't like.  The process is incredibly valuable in my opinion - generally saves a whole lot of rework.

![Website Wireframer Printable](/media/files/webpage_wireframer.png)

Ideally you would have a whole pad of these wireframe sheets, and simply enter some details about each page of the site and then start scribbling in what needed to be on the page.

### What about standard site elements?

As parts of your page will be repeated on every page of the site (for example, the header, footer, sidebar, etc) do you really want to have to draw those each time.  Probably not.  My advice - draw the static elements of the site once, and then make use of a photocopier to create yourself a few more pages to design with.

### Downloads

[Website Wireframer Printable](/media/files/webpage_wireframer.pdf)

### Feedback and Comments

Feedback and comments are welcome and appreciated on the tool.  If you have suggestions for modification, or places where it has been useful to you then please let me know.


{%endarticle%}

{% endblock %}